html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(17, 17, 17);
    overflow-x: hidden;
    font-family: "Ubuntu", sans-serif;
}

nav {
    text-align: center;
    margin: 0;
    padding: 10px;
    margin-top: 5px;
}

a {
    color: rgb(183, 181, 181);
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.icon {
    margin-top: 30px;
}

.logo {
    margin-top: 5px;
    margin-left: 15px;
}

.qk-links {
    margin-top: 440px;
    margin-left: 30px;
    position: absolute;
    font-size: 28px;
}
.qk-links2 {
    margin-top: 490px;
    margin-left: 30px;
    position: absolute;
    font-size: 28px;
}
.qk-links3 {
    margin-top: 540px;
    margin-left: 30px;
    position: absolute;
    font-size: 28px;
}

.hero-text {
    position: relative;
    z-index: 2; /* Ensure the text is on top of the video */
    font-size: 72px;
    line-height: 115px;
    letter-spacing: -3.5px;
    margin-top: -45px;
    padding-bottom: 20px;
    color: rgb(209, 209, 209); /* White color for clear visibility */
}

.s1 {
    font-size: 102px;
    background: linear-gradient(to left, #038d94, #007885, #006475, #005063, #003d50);
    background-clip: text;
    color: transparent;
}

#hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.4; /* Adjust this for desired transparency */
}


.r2 {
    margin-top: 70px;
    color: rgb(225, 226, 226);
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 2.5px;
}

.ab-me {
    font-size: 46px;
    letter-spacing: -1px;
    color: rgb(225, 226, 226);
    font-weight: 100;
}

.sk-me {
    font-size: 68px;
    color: rgb(225, 226, 226);
}

.sk-desc {
    font-size: 20px;
    margin-top: 35px;
    color: rgb(225, 226, 226);
}

.pr-img {
    height: 70px;
    width: 70px;
    border-radius: 35px;
    float: left;
    margin-left: 70px;
    margin-top: 20px;
    background-size:cover; 
}

.pr-me {
    font-size: 46px;
    color: rgb(225, 226, 226);
}

.pr-desc {
    color: rgb(225, 226, 226);
}

.footer {
    background-color: rgb(52, 52, 52);
    min-height: 200px;
}

.submit {
    margin-left: 37%;
    width: 30%;
}

.blob {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: rgba(5, 96, 101, 0.7);
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.1s ease, width 0.3s ease, height 0.3s ease, box-shadow 0.3s ease;
}

.glow {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
}

.blob.active {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 20px rgba(115, 248, 233, 0.8), 0 0 40px rgba(255, 255, 255, 0.6); 
}

a, .qk-links, .qk-links2, .qk-links3 {
    cursor: none;
    z-index: 10000;
}

a:hover, .qk-links:hover, .qk-links2:hover, .qk-links3:hover {
    color: #00c18e;
}

.t-green {
    background: linear-gradient(to left, #038d94, #007885, #006475, #005063, #003d50);
    background-clip: text;
    color: transparent;
}


/* Default background color for the row */
.row.mt-2 {
    background-color: transparent; /* Initial background color */
    transition: background-color 0.3s ease; /* Smooth transition for background change */
}

/* Style for the skill name and description */
.sk-me, .sk-desc {
    transition: color 0.3s ease; /* Smooth transition for text color change */
}

/* Hover effect on the skill name */
.sk-me:hover {
    cursor: none; /* Changes cursor to pointer to indicate interactivity */
}

/* When hovering on the row, change the background and text color */
.row.mt-2:hover {
    background-color: #056065; /* Background color on hover */
}

/* Change the text color of the skill name and description on row hover */
.row.mt-2:hover .sk-desc {
    color: rgb(17, 17, 17); /* Text color on hover */
}

/* Ensures that .t-green text also changes color on row hover to stay visible */
.row.mt-2:hover .sk-me .t-green {
    color: rgb(17, 17, 17) /* Change to a contrasting color, like gold */
}

.p-info {
    color: rgb(194, 194, 194);
    margin-top: 20px;
}

.copy-text::after {
    content: 'Click to copy';
    font-size: 12px;
    transition: opacity 0.3s ease;
}
.copy-text:hover::after {
    opacity: 1;
}

.ft-head {
    color: rgb(194, 194, 194);
    margin-top: 20px;
    margin-left: -5px;
    font-size: 20px;
    font-weight: 700;
}

.ft-links {
    font-size: 36px;
}

.pr-bgi {
    position: absolute;
    z-index: -1;
    margin-top: -30px;
    opacity: 0.2;
    margin-left: -10px;
}

.video-container {
    position: absolute;
    width: 100%;
    height: 104.5%;
    margin-left: -11px;
    margin-top: 35px;
    overflow: hidden;
    z-index: -1;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5; /* Adjust opacity for transparency */
}


@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

